html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
  }

  /** Globales **/
  .contenedor {
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
  }
  h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
  }

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  img {
      max-width: 100%;
  }

  /** Utilidades **/

  .centrar-texto {
      text-align: center;
  }
  
  .no-margin {
    margin: 0;
  }

  /** header **/
  @media (min-width:768px) {
    .barra {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
   }

   .site-header a {
     color: white;
     text-decoration: none;
   }
   .site-header h1 {
      text-align: center;
      font-weight: 400;
   }
   .site-header h1 span {
     font-weight: 700;
   }

   /** navegacion **/
   .navegacion a {
     text-align: center;
     display: block;
     font-size: 18px;
   }
   @media (min-width: 768px) {
     .navegacion a {
       display: inline;
       margin-right: 20px;
     }
   }

   /** header texto **/
   .texto-header {
     color: white;
     text-align: center;
     margin-top: 50px;
   }
   @media (min-width: 768px) {
     .texto-header{
       margin-top: 150px;
     }
   }
   .texto-header p{
     font-size: 22px;
   }

   /** Contenido principal Home **/
   .contenido-principal {
     display: flex;
     flex-wrap: wrap;
   }
   .blog,
   .cursos {
     flex-grow: 0;
     flex-shrink: 0;
     flex-basis: 100%;

   }
   .cursos{
     order: -1; /** -1 hace que cursos vaya antes que blog **/
   }

   @media (min-width: 768px) {
     .contenido-principal {
        justify-content: space-between;
     }

     .blog {
          flex-basis: 66.6%;
          order: -1;
      }

     .cursos {
          flex-basis: calc(33.3% - 40px);
      }
   }

  /** Opcional **/
  .entrada-blog {
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;    
  }
  .entrada-blog:last-of-type { /** esto va al ultimo item y no le coloca el borde **/
    border: none;
  }

  /** Cursos sidebar **/
  .cursos-lista {
    padding: 0;
    list-style: none;
  }

  .curso {
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
  }
  .curso:last-of-type {
    border-bottom: none;
  }

  .curso p {
    font-family: "PT Sans" , sans-serif;
    font-weight: 700;
  }
  .curso p span {
    font-weight: 400;
  }